body{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    color: white;
    margin: 0;
}
body * {
    box-sizing: border-box;
}
.title{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
}
.button:hover{
    background: #E3B873;
    border: 1px solid #E3B873;
    transition: 0.2s;
    cursor: pointer;
}
.header{
    background-color: black;
}
.footer{
    background-color: black;
}
.container{
    max-width: 1256px;
    margin: 0 auto;
}
.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}
.logo{
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}
.header-nav{
    list-style: none;
    display: flex;
}
.header-nav__link:hover{
    color: #E3B873;
    transition: 0.2s;
    cursor: pointer;
}
.header-nav__items{
    margin-right: 47px;
}
.header-nav__link{
    text-decoration: none;
    color: white;
    font-size: 11px;
    line-height: 15px;
}
.tel{
    color: #E3B873;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration: none;
}
.tel:hover{
    color: #E3B873;
    text-decoration-line: underline;
}
.button_Request{
    background: black;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.wellcom {
    background-image: url(../img/image1.jpg);
    background-size: cover;
    height: 707px;
    position: relative;
    padding-top: 194px;
}
.wellcom-overlay{
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.wellcom-container{
    position: relative;
    z-index: 1;
}
.title-wecllom{
    margin: 0;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 19px;
}
.Rostov-on-Don{
    color: #E3B873;
}
.wellcom-text{
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.button-calc{
    font-family: Nunito Sans;
    background: rgba(0, 0, 0, .0);
    border-radius: 2px;
    outline: 0;
    border: 1px solid #FFFFFF;
    padding: 19px 42px;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 20px;
}
.button-application{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 23px;
    background: rgba(0, 0, 0, .0);
}
.content{
    background: #131313;
    height: 1074px;
    padding-top: 107px;
}
.content-container{
    display: flex;
}
.content-text{
    flex-direction: column;
}
.title-completed{
    margin: 0;
    padding-top: 69px;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.information{
    padding-top: 34px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    padding-right: 50px;
}
.content-img{
    flex-direction: column;
    
}
.content-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 52px;
}
.content-nav__items{
    margin-right: 60px;
}
.content-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}
.content-link:hover{
    color: #E3B873;
    border-bottom: solid 1px #E3B873;
    padding-bottom: 7px;
    transition: 0.2s;
    cursor: pointer;
}
.content-box{
    display: flex;
    margin-top: 42px;
}
.box-text{
    padding-right: 34px;
}
.box-title{
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.box-Repairtime{
    padding-top: 34px;
}
.box-RepairCost{
    padding-top: 55px;
}
.box-info{
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.arrows{
    margin-top: 85px;
    display: flex;
}
.arrows:hover{
    cursor: pointer;
}
.arrow-left{
    padding-right: 29px;
}
.arrow-right{
    padding-left: 12px;
}
.mugs{
    display: flex;
}
.mug{
    width: 9px;
    height: 9px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-right: 17px;
    
}
.mug:hover{
    background: #FFFFFF;
    transition: 0.2s;
    cursor: pointer;
}
.video{
    height: 1072px;
}
.container-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -275px;
    padding: 0;
}
.line-cam{
    height: 1px;
    width: 32px;
    background: #E3B873;
    border: none;
}
.cam{
    display: flex;
    align-items: center;
}
.titel-video{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.video-content{
    margin-top: 31px;
    position: relative;
}
.video-img{
    margin: 0;
}
.video-overlay{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.play{
    position: absolute;
    top: 174px;
    left: 365px;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100px;
    z-index: 1;
}
.line-line{
    background: #E3B873;
    height: 1px;
    width: 55px;
    border: none;
    margin: 62px 0 0 0;
}
.video-text{
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin: 0;
    padding-top: 34px;
}
.Form{
    display: flex;
    justify-content: start;
    margin-top: 91px;
    align-items: center;
}
.Name{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    margin-right: 58px;
    width: 231px;
}
.Phone{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    margin-right: 49px;
    width: 231px;
}
.YourName{
    border: none;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}
.Submit{
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 27px;
    padding: 12px 75px 12px 76px;
    outline: 0;
    border: 0;
    color: #FFFFFF;
}

.checktext{
    font-size: 14px;
    line-height: 23px;
    color: #181818;
    padding-left: 8px;
}
.chek-content{
    display: inline-block;
    margin-top: 33px;
}
.types-of-repair{
    height: 1677px;
}
.container-repair{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-of-repair{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.molot{
    display: flex;
    align-items: center;
    margin: 13px 0 0 0;
}
.line-molot{
    background: #E3B873;
    border: none;
    height: 1px;
    width: 32px;
}
.content-repair{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 31px;
}
.included-repair{
    margin-top: 294px;
    margin-left: 31px;
    margin-right: 31px;
    height: 286px;
    width: 330px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.image_Redecorating{
    background-image: url(../img/redecorating.jpg);
    background-repeat: no-repeat;
}
.image_Overhaul{
    background-image: url(../img/overhaul.jpg);
    background-repeat: no-repeat;
}
.image_Designer{
    background-image: url(../img/designer.jpg);
    background-repeat: no-repeat;
}
.title-included{
    display: flex;
    justify-content: start;
    font-size: 18px;
    line-height: 25px;
    margin-top: 25px;
    padding-left: 34px;
    color: #363636;
}
.included{
    font-size: 13px;
    line-height: 27px;
    height: 178px;
    width: 267px;
    color: #959595;
    list-style-type: none;
}
.price{
    display: flex;
    align-items: center;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    height: 54px;
    width: 228px;
    margin-top: 26px;
    margin-bottom: 53px;
}
.text-price{
    padding: 17px 21px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.feedback-content{
    display: flex;
    justify-content: space-around;
    margin-top: 153px;
}
.steps-number{
    margin-top: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.steps{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 94px;
}
.number{
    font-family: Yeseva One;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
    margin: 0px 17px 0px 0px;
}
.text-number{
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.measurer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 59px;
    min-width: 506px;
    min-height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
.title-form{
    margin-top: 28px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}
.measurer-Name{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.textName{
    margin-top: 48px;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.textName_one{
    margin-top: 39px;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.measurer-input{
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: transparent;
    border: transparent;
}
.line-input{
    margin: 0;
    width: 408px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: transparent;
}
.measurer-checkbox{
    margin-top: 16px;
    padding-right: 90px;
}
.check_input{
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.Call-the-measurer{
    margin-left: 244px;
    margin-top: 39px;
    width: 213px;
    height: 51px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border: 1px solid #FFFFFF;
}
.pig{
    margin-top: 38px;
    display: flex;
}
.text-pig{
    font-size: 18px;
    padding-top: 21px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.our_clients{
    height: 1109px;
}
.our_clients-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-our_clients{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.hands-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.line-hands{
    background: #E3B873;
    border: none;
    height: 1px;
    width: 32px;
    margin: 8px;
}
.text-our_clients{
    margin-top: 27px;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}
.clients-comment{
    display: flex;
    justify-content: space-around;
    margin-top: 39px;
}
.clients-info{
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.client-name{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}
.avatar{
    border-radius: 50px;
    margin-top: 24px;
    margin-left: 20px;
}
.client-title{
    margin-top: 41px;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-left: 23px;
}
.comment{
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    margin: 0;
    padding-left: 20px;
}
.deadlines{
    width: 294px;
    height: 54px;
    display: flex;
    align-items: center;
    margin-top: 63px;
    border: #E3B873 solid 1px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}
.metrs{
    width: 135px;
    height: 54px;
    display: flex;
    align-items: center;
    padding-left: 17px;
    border-right: 0.75px solid #FFFFFF;
}
.size{
    margin: 0;
    padding-left: 15px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.times{
    width: 135px;
    height: 54px;
    display: flex;
    align-items: center;
    padding-left: 17px;
}
.finish{
    background-image: url(../img/finish.jpg);
    background-size: cover;
    height: 954px;
    position: relative;
}
.finish-overlay{
    background:rgba(24, 24, 24, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.finish-container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questions{
    margin-top: -222px;
    background: #131313;
    min-width: 883px;
    min-height: 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titel-questions{
    margin-top: 34px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.customer-data{
    display: flex;
    margin-top: 42px;
}
.customer-name{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-right: 58px;
}
.customer-name-phone{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.text-customer-name{
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.line-input-customer{
    margin: 0;
    width: 231px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: transparent;
}
.questions-input{
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: transparent;
    border: transparent;
}
.questions-name{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 48px;
}
.text-questions-name{
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.line-input-questions{
    margin: 0;
    width: 517px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: transparent;
}
.questions-checkbox{
    margin-top: 48px;
    padding-right: 90px;
}
.check_input{
    width: 18px;
    height: 18px;
}
.button-questions{
    min-width: 200px;
    min-height: 51px;
    margin-top: 50px;
    margin-bottom: 34px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border: 1px solid #FFFFFF;
}
.title-address{
    margin-top: 52px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}
.icon{
    display: flex;
    justify-content: center;
    margin-top: 26px;
}
.icon-mail{
    margin-right: 15px;
}
.address-map{
    margin-top: 43px;
    min-width: 925px;
    min-height:465px;
    border: 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    height: 113px;
    align-items: center;
}
.footer-nav{
    list-style: none;
    display: flex;
}
.footer-nav__link:hover{
    color: #E3B873;
    transition: 0.2s;
    cursor: pointer;
}
.footer-nav__items{
    margin-right: 47px;
}
.footer-nav__link{
    text-decoration: none;
    color: white;
    font-size: 11px;
    line-height: 15px;
}